* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #c5c4c4;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    gap: 10px;
}

.page .one{
    background-color: red;
    text-align: center;
    grid-column: 5 / span 5;
}